@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SBaggroL;
  font-weight: 400;
  src: url("./assets/fonts/SBaggroL.ttf");
}

@font-face {
  font-family: Pretendard-Bold;
  font-weight: 900;
  src: url("./assets/fonts/Pretendard-Bold.otf");
}

.flexbox {
  @apply flex overflow-hidden box-border;
}

.flexcenter {
  @apply flex justify-center items-center;
}

.logininput {
  @apply w-full px-[18px] py-4 rounded-[32px] border-login-pink  font-SB placeholder-faint-pink;
}
